@mixin clearFix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//MEDIA QUERIES
/* 
0 - 600px phone
600 - 900 tablet portrait
900 - 1200 tablet landscape
1200 - 1800 normal laptop/desktop
1800+ big desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// 1em = 16px
// em is better for media query than rem
//this is the best way to do it
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}