//COLORS
$color-primary: #1799DD;
$color-primary-light: #E6F6FF;
$color-primary-dark: #005a87;

$color-tertiary-light: #2998ff;
$color-tertiary-med: #5643fa;


$color-white: #fff;
$color-black: #000;
$color-dark-blue: #00233D;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-pink: #fe4066;


//FONT
$default-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
