.header-svg {
    &__square{
        animation: rotate 2s linear infinite;
        transform-origin: center;
        transform-box: fill-box;    
    }
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg) translateX(0);
    }
    to {
        transform: rotateZ(360deg) translateX(0);
    }
}
