.project-preview {

    overflow: hidden;
    border-radius:  .5rem;
    height: 30rem;
    backface-visibility: hidden;
    position: relative;

    &__img {
        height: 100%;
        background-size: cover;
        transition: all .4s;
        backface-visibility: hidden;
        background-image: url(../assets/img/header-img.jpg);
        // animation: bulge 6s infinite;
        


        &--1 {
            background-image: url(../assets/img/projectPoodle.png);
        }
        &--2 {
            background-image: url(../assets/img/weatherApp.jpg);

        }
    }

    &__caption {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        z-index: 100;
        color: $color-white;
        transition: all .5s;
        opacity: 0;
    }

    &:hover &__img {
        transform: scale(1.3);
        filter: blur(3px) brightness(50%);
        animation: none;
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
   
}