.u-center-text {
    text-align: center !important;
}

.u-flex-row-even-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.u-margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-med {
    margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}
.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}